 body header,main{
   margin:50px 140px 120px ;
 }
 nav{
   background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2,  17, 0.00) 100%),
                                url('../pic/1stp.png');   
    height: 740px;
    border-radius: 15px; 
    background-repeat: no-repeat;
    justify-content: center; 
    text-align: center;
    background-size: cover;              
 }
 .pa{
color: #FFF;
font-family: Merriweather;
font-size:  25px;
font-weight: 200;
padding: 230px  0px 0px ;
 }
 .pa1{
color: #FFF;
font-family: Merriweather;
font-size: 50px;
font-weight: 900px;
padding-top: 20px;
 }
 .off{
   font-family:'Inter';
   text-align: center; 
 }
 .off > h1{
   color: #FF0000;
   font-size: 57px;
   margin-top: 10px;

 }
 .off > p{
   color:#FF0000;
   font-size: 17px;
   font-weight: 900;
   margin-bottom: 4px;
 }
 .off >h2{
   color: #070211;
    font-size: 19px;
    font-weight: 600;
    margin-top: 1px;
 }
 .off >img{
   margin-top: 88px;
   width: 656.9px;
   height: 441px;
 }
 .welcome {
   background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../pic/3stp.png');
                     
    height: 740px;
    border-radius: 15px;     
    background-size: cover;
    text-align: 10px;
   
   
 }
 .welcome img{
   margin-left: 1181px;
   height: 402px;
   margin-top: -351px;
}
 .welcome h1{
     color: #FFF;
     font-family: Merriweather;
     font-size: 64px;
     margin-left: 195px;
     letter-spacing: 7.04px;
     padding: 230px 0px 0px;
 }
 .welcome p{
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding-left: 140px;
 
 /* 166.667% */
 }
 .welcome button{
font-size: 20px; 
 margin-left: 200px;
 border-color: none;
 background-color: transparent;
 color: #FFF;
 }
 .bor,.rad{
   color: #FF0000;
   text-align: center;
 }
 .bor h1{
   color:#070211;
   text-align: center;
 }
 .bor button{
  color: #FFF;
  font-family: Inter;
  font-size: 20px;  
  padding: 16px 32px;  
  border-radius: 8px;
  background: #F00;
 }
 .bor{
  
   
  margin: 123px;
  padding: 44px;
  margin-left: 258px;
  margin-right: 258px;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  background-color: transparent;
  border-radius: 23px;

   
}
.gol{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fst{
  text-align:left;
}
.fst h4{
  color: #FF0000;
  font-size: 19px;
  width: 225px;
  margin-left: 40px;
}
.fst h2{
  color: #110202;
  font-family: Merriweather;
  font-size: 44px;
  margin-left: 40px;
}
.fst p{
  color: rgba(7, 2, 17, 0.60);
  margin-left: 40px;
}
 
.imgg,.ss{
  padding: 30px;
  border: 10px solid red;
  border-radius: 100%;

}
.lst{
  flex-shrink: 1.2.3;
}
.lst,.h1{
  color: #FF0000;
  font-family: Merriweather;
  font-size: 32px;
  margin-left: 1177px;
  margin-top: -525px;
  width: 500px;
}
.lst p{
  color: rgba(7, 2, 17, 0.60);
  font-size: 15px;
  margin-top: -26px;
}

 
.gol,.border > .ss{
  padding: 10px;
  margin-left: 2px;
  margin-top: -17px;
  margin: 96px;

}

.holidays{
  justify-content: center;
  align-items: center;
}
.text h3{
color: #F00;
font-family: Inter;
font-size: 14px;
margin-left: 317px;

}
.text h1{
color: #070211;
font-family: Merriweather; 
font-size: 24px;
margin-top: -16px;
margin-left: 317px;

}
.text p{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 12px;
margin-top: -13px;
margin-left: 317px;

}
.photo{
   
  margin-left: 275px;
  margin-top:23px  ;
}
.text{
  margin-top: 316px;
}
 
   
 
 .port{
  width: 100%;
  height: 100%;
 }
 .p{
  width: 390px;
  height: 100%;
  margin: 15px;
  transition: .5s;
 }
 .p:hover{
  transform: scale(1.1);
 }

 .chatbox{
  margin: 123px;
  padding: 44px;
  margin-top: 21px;
  margin-right: 1093px;

  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  align-items: center;
   
 }
 .chatbox{
  margin: 0 auto;
  

 }

.img{
margin-left:760px;
 }
 
.tex h1{
  color: #070211;
  text-align: center;
  font-family:Merriweather;
  font-size: 48px;
  margin-right: 82px;
  margin-top: -5px;
 }
 .tex p{
color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
 }
 .pbutton{
  width: 648px;
  height: 72px;
  display: flex;
  padding: 50px 0px 0px 0px;
  margin: 0px 0px 0px 470px;
 }
 .em{
  background: #FFF;
    width: 438px;
    font-size: 30px;
    border: 0px;
    border-radius: 50px 0px 0px 50px;
    padding-left: 30px;
 }
 .bt{
  border: 0px;
    color: #FFF;
    background: #F00;
    width: 210px;
    font-size:30px;
    text-align: center;
    border: 0px;
    border-radius: 0px 50px 50px 0px;
 }
 footer{
  height: 500px;    
  background: #070211;
  padding: 120px 140px;
  padding: 120px 140px;
  
  padding: 120px 140px;   
  
}


.section6-part1{
  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; 
  padding-bottom: 50px;
}
.section6-part2{
  text-align: center;
  padding:40px 0px ;
}
.section6-part2-imgs{
  padding: 0px 25px ;
}
.section6-part3{
  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-top: 50px;
}




  
  

 
 

