 body header,main{
   margin:50px 140px 120px ;
 }
 nav{
   background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2,  17, 0.00) 100%),
                   url('/new-year/pic/1stp.png');  
    height: 740px;
    border-radius: 15px; 
    background-repeat: no-repeat;
    justify-content: center; 
    text-align: center;
    background-size: cover;              
 }
 .pa{
color: #FFF;
font-family: Merriweather;
font-size:  25px;
font-weight: 200;
padding: 230px  0px 0px ;
 }
 .pa1{
color: #FFF;
font-family: Merriweather;
font-size: 50px;
font-weight: 900px;
padding-top: 20px;
 
 }

